/* Основные стили с подходом mobile-first */

/* Сбрасываем стандартные отступы */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: sans-serif;
}

.header {
    background-color: #333;
    padding: 0 1.5rem;
    border-bottom: 1px solid #444;
}

.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 70px;
    max-width: 1200px;
    margin: 0 auto;
}

.nav-logo {
    font-size: 1.5rem;
    font-weight: bold;
    color: white;
    text-decoration: none;
}

.nav-menu {
    position: fixed;
    left: -100%;
    top: 70px;
    flex-direction: column;
    background-color: #333;
    width: 100%;
    text-align: center;
    transition: 0.3s;
    box-shadow: 0 10px 27px rgba(0, 0, 0, 0.05);
    list-style: none;
}

.nav-menu.active {
    left: 0;
}

.nav-item {
    margin: 1.5rem 0;
}

.nav-link {
    font-size: 1.2rem;
    color: white;
    text-decoration: none;
}

.nav-link:hover {
    color: #ddd;
}

/* Стили для "гамбургера" */
.hamburger {
    display: block;
    cursor: pointer;
}

.bar {
    display: block;
    width: 25px;
    height: 3px;
    margin: 5px auto;
    -webkit-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out;
    background-color: white;
}

/* Стили для больших экранов (например, планшеты и десктопы) */
@media only screen and (min-width: 768px) {
    .nav-menu {
        position: static;
        flex-direction: row;
        width: auto;
        box-shadow: none;
    }

    .nav-item {
        margin: 0 1rem;
    }

    .hamburger {
        display: none;
    }
}
